* {
    /* border: 2px solid black; */
    font-family: Verdana, sans-serif;
}

.top_banner {
    background: url('WoWScrnShot_080717_205235.jpg') no-repeat;
    background-size: contain;
    background-position: center;
    background-size: contain;
    height: 635px;
    display: block;
}

.top_banner .top_banner_text {
    display: block;
    color: white;
    text-align: center;
    line-height: 635px;
    position: relative;
    bottom: 100px;
}

.top_navigation {
    padding-left: 740px;
    font-weight: bold;
    align: center;
}

.top_navigation th {
    background-color: orange;
    height: 30px;
    text-align: center;
    border: none;
}

.top_navigation td {
    border: 1px solid green;
    background-color: orange;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.top_navigation td a {
    color: black;
    border: none;
    text-decoration: none;
}

.top_navigation td a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: whitesmoke;
}

.grad_background {
    background: #dec1c8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#dec1c8, #fff6bc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#dec1c8, #fff6bc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#dec1c8, #fff6bc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#dec1c8, #fff6bc); /* Standard syntax (must be last) */
}

.about_pet1 {
    text-align: center;
    color: #1e2b16;
}

.grad_background #info_valk {
}

#info_valk .img_valk {
    display: inline;
}

#info_valk .text_valk {
    display: inline;
}